{{ partial "head" . }}
	<body>
		{{ partial "header" . }}

		<div id="main">
			{{ block "main" . }}{{ end }}
			<h1>Not all those who wander are lost...</h1>
			<p><a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Proin porta facilisis finibus. Maecenas iaculis lectus erat. Duis eu dolor sed diam rhoncus tincidunt at sed tellus. Suspendisse dictum risus non facilisis egestas. Donec facilisis odio vitae posuere blandit. Nullam tempus, elit ac malesuada fermentum, nisi mi tempus erat, eu eleifend sapien purus nec nisl. Vestibulum molestie velit non iaculis vulputate. In vulputate elit a risus pharetra, ornare vehicula est blandit. Praesent fringilla bibendum gravida.</p>

			<p>Praesent augue purus, facilisis a ipsum a, lobortis fringilla mauris. Integer libero nisl, sagittis semper fermentum ut, congue ut velit. Sed venenatis nisi eget nisi blandit, dapibus suscipit felis semper. In tempor, magna a semper pellentesque, diam sapien commodo mauris, vitae volutpat felis massa sed lectus. In nec rutrum urna. Integer pulvinar gravida ante rutrum tempus. Aenean nec dapibus lacus. Sed gravida tempus dui condimentum sodales. Sed et mi vel nibh consequat feugiat. Nulla facilisi. Nulla facilisis urna et sem feugiat, eget commodo neque lacinia. Pellentesque convallis pellentesque odio in efficitur. Donec id fermentum felis, quis tristique elit.</p>

			<p>Curabitur ac urna vel ipsum molestie aliquet. Vivamus tempor, massa sit amet pulvinar pharetra, justo tortor egestas nulla, vel suscipit felis eros vel erat. Nunc vel ipsum vel turpis lacinia sollicitudin sed vitae nisi. In et nunc accumsan, pharetra nisi ut, facilisis ex. Vestibulum bibendum nibh dictum purus consequat semper. Nullam eu erat enim. Pellentesque maximus luctus leo, eu congue eros facilisis nec.</p>

			<p>Sed magna diam, volutpat sed blandit quis, cursus a lectus. Maecenas lobortis blandit ipsum sed ornare. Sed molestie sed diam eu iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris nunc turpis, semper nec mollis ut, tincidunt non nisi. Etiam dignissim tempus augue. Aliquam non ante eros.</p>

			<p>Aenean vel tellus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Aenean vitae enim rhoncus, bibendum nisl porta, vestibulum nisl. Sed sed varius lacus, fermentum malesuada nulla. Sed purus ex, ultrices sit amet purus a, lobortis sodales eros. Integer fermentum ligula a neque rutrum, ultricies dignissim magna hendrerit. Mauris vitae pretium leo. Mauris iaculis viverra augue, eu ornare justo fringilla ac.</p>
		</div>

		{{ partial "footer" . }}
	</body>
</html>
