{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	<a href="{{ .Site.BaseURL }}" class="image avatar-logo">
		<!-- <img class="avatar" src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /> -->
		<img class="logo" src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.logo }}" alt="" />
	</a>
	{{ with .Site.Params.sidebar.bio }}
		<h1>{{ . | markdownify }}</h1>
	{{ end }}

	<nav id="sidebar">
		<ul>
		{{ range .Site.Menus.main }}
			<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</nav>
</header>
