{{ "<!-- portfolio -->" | safeHTML }}
<section>
	{{ with .Site.Params.recentposts.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range first 5 (where .Data.Pages "Section" "post") }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ .Permalink }}" class="image fit thumb">
				<img src="{{ $.Site.BaseURL }}images/{{ .image }}" alt="" />
				<h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }}</p>
			</a>
		</article>
		{{ end }}
	</div>
</section>
